#ignore files general
**/.vscode
**/.log
**/.vagrant
*workspace.code*

#security
**/authorized_keys
**/*.pub
**/*.ppk
**/pk_protheus
**/private_key

#erp
**/provisioning/**/*.rpo
**/provisioning/**/*.zip*
**/provisioning/**/*.tar.gz*
**/provisioning/**/*.so*
**/provisioning/**/*.dll*

# rules postgresql
**/*.retry
**/*/__pycache__
**/*.pyc

# Install
linux/install

# backups
/dictionary
/diagrams
